@{
    ViewData["Title"] = "Home Page";
}
<body>
<app-root>Loading...</app-root>
<script src="~/js/dist/runtime-es2015.js" type="module"></script>
<script src="~/js/dist/runtime-es5.js" nomodule defer></script>
<script src="~/js/dist/polyfills-es5.js" nomodule defer></script>
<script src="~/js/dist/polyfills-es2015.js" type="module"></script>
<script src="~/js/dist/styles-es2015.js" type="module"></script>
<script src="~/js/dist/styles-es5.js" nomodule defer></script>
<script src="~/js/dist/vendor-es2015.js" type="module"></script>
<script src="~/js/dist/vendor-es5.js" nomodule defer></script>
<script src="~/js/dist/main-es2015.js" type="module"></script>
<script src="~/js/dist/main-es5.js" nomodule defer></script>
</body>


